.para1{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.linkStyle_2{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 16px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_2:visited{color:#000000; text-decoration:none;}
.linkStyle_2:hover{color:#000000; text-decoration:none;}
.Style5{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 24px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style6{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 14px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style7{font-family:  'Courier' ,monospace ;
 font-size: 14px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style8{font-family:  'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 word-wrap: break-word;}
.linkStyle_9{font-family:  'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_9:visited{color:#000000; text-decoration:none;}
.linkStyle_9:hover{color:#000000; text-decoration:none;}
.Style12{font-family:  'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style13{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style14{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:700; 
 text-decoration: underline;
 word-wrap: break-word;}
.linkStyle_15{font-family:  'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_15:visited{color:#000000; text-decoration:underline;}
.linkStyle_15:hover{color:#000000; text-decoration:underline;}
.linkStyle_18{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 color: #000000;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_18:visited{color:#000000; text-decoration:underline;}
.linkStyle_18:hover{color:#000000; text-decoration:underline;}
.linkStyle_21{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 14px; 
 font-weight:700; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_21:visited{color:#000000; text-decoration:none;}
.linkStyle_21:hover{color:#000000; text-decoration:none;}
.Style24{font-family:  'CourierNewPS-BoldMT', 'Courier New' ,monospace ;
 font-size: 13px; 
 font-weight:700; 
 margin:0;
 word-wrap: break-word;}
.Style25{font-family:  'Courier-Oblique', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: oblique;
 word-wrap: break-word;}
.linkStyle_26{font-family:  'Courier-Oblique', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: oblique;
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_26:visited{color:#000000; text-decoration:none;}
.linkStyle_26:hover{color:#000000; text-decoration:underline;}
.linkStyle_29{font-family:  'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_29:visited{color:#000000; text-decoration:none;}
.linkStyle_29:hover{color:#000000; text-decoration:underline;}
.linkStyle_32{font-family:  'Courier-Oblique', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: oblique;
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_32:visited{color:#000000; text-decoration:none;}
.linkStyle_32:hover{color:#000000; text-decoration:none;}
.para35{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.linkStyle_36{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 18px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_36:visited{color:#000000; text-decoration:none;}
.linkStyle_36:hover{color:#000000; text-decoration:none;}
.Style39{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 18px; 
 font-weight:normal; 
 text-decoration: underline;
 word-wrap: break-word;}
.Style40{font-family:  'CourierNewPS-BoldMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style41{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style42{font-family:  'CourierNewPS-ItalicMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 font-style: italic;
 word-wrap: break-word;}
.Style43{font-family:  'CourierNewPS-ItalicMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 font-style: italic;
 margin:0;
 word-wrap: break-word;}
.Style44{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_45{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FF #FF2600 */
 word-wrap: break-word;}
.linkStyle_45:visited{color:#0432FF; text-decoration:underline;}
.linkStyle_45:hover{color:#FF2600; text-decoration:underline;}
.Style48{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 72px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style49{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 72px; 
 font-weight:normal; 
 word-wrap: break-word;}
.linkStyle_50{font-family:  'CourierNewPS-ItalicMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 font-style: italic;
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FF #FF2500 */
 word-wrap: break-word;}
.linkStyle_50:visited{color:#0432FF; text-decoration:underline;}
.linkStyle_50:hover{color:#FF2500; text-decoration:underline;}
.Style53{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 text-decoration: underline;
 word-wrap: break-word;}
.linkStyle_54{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #0432FF #FF2500 */
 word-wrap: break-word;}
.linkStyle_54:visited{color:#0432FF; text-decoration:underline;}
.linkStyle_54:hover{color:#FF2500; text-decoration:underline;}
.Style57{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 7px; 
 font-weight:normal; 
 word-wrap: break-word;}
.linkStyle_58{font-family:  'CourierNewPS-BoldMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:700; 
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_58:visited{color:#000000; text-decoration:none;}
.linkStyle_58:hover{color:#000000; text-decoration:underline;}
.linkStyle_61{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_61:visited{color:#000000; text-decoration:none;}
.linkStyle_61:hover{color:#000000; text-decoration:underline;}
.linkStyle_64{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 font-style: italic;
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_64:visited{color:#000000; text-decoration:none;}
.linkStyle_64:hover{color:#000000; text-decoration:underline;}
.linkStyle_67{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: italic;
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_67:visited{color:#000000; text-decoration:none;}
.linkStyle_67:hover{color:#000000; text-decoration:underline;}
.Style70{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 font-style: italic;
 word-wrap: break-word;}
.Style71{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: italic;
 word-wrap: break-word;}
.para72{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style73{font-family:  'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style74{font-family:  'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style75{font-family:  'Courier New' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: italic;
 margin:0;
 word-wrap: break-word;}
.Style76{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 18px; 
 font-weight:normal; 
 margin:0;
 text-decoration: underline;
 word-wrap: break-word;}
.linkStyle_77{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_77:visited{color:#000000; text-decoration:none;}
.linkStyle_77:hover{color:#000000; text-decoration:none;}
.Style44:visited{color:#000000; text-decoration:none;}
.Style44:hover{color:#000000; text-decoration:none;}
.linkStyle_82{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_82:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_82:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_85{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 text-decoration: underline;
 color: #0432FF;
 word-wrap: break-word;}
.linkStyle_85:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_85:hover{color:#FF2600; text-decoration:underline;}
.Style88{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 14px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_89{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 14px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_89:visited{color:#000000; text-decoration:none;}
.linkStyle_89:hover{color:#000000; text-decoration:underline;}
.Style92{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 14px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style88:visited{color:#000000; text-decoration:none;}
.Style88:hover{color:#000000; text-decoration:none;}
.Style95{font-family:  'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}