.para1{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.linkStyle_2{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 16px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_2:visited{color:#000000; text-decoration:none;}
.linkStyle_2:hover{color:#000000; text-decoration:none;}
.Style5{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 24px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style6{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 14px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style7{font-family:  'Courier' ,monospace ;
 font-size: 14px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style8{font-family:  'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 word-wrap: break-word;}
.linkStyle_9{font-family:  'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_9:visited{color:#000000; text-decoration:none;}
.linkStyle_9:hover{color:#000000; text-decoration:none;}
.Style12{font-family:  'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style13{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style14{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:700; 
 text-decoration: underline;
 word-wrap: break-word;}
.linkStyle_15{font-family:  'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_15:visited{color:#000000; text-decoration:underline;}
.linkStyle_15:hover{color:#000000; text-decoration:underline;}
.linkStyle_18{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 color: #000000;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_18:visited{color:#000000; text-decoration:underline;}
.linkStyle_18:hover{color:#000000; text-decoration:underline;}
.linkStyle_21{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 14px; 
 font-weight:700; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_21:visited{color:#000000; text-decoration:none;}
.linkStyle_21:hover{color:#000000; text-decoration:none;}
.linkStyle_24{font-family:  'Courier-Oblique', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: oblique;
 margin:0;
 word-wrap: break-word;}
.linkStyle_24:visited{color:#000000; text-decoration:none;}
.linkStyle_24:hover{color:#000000; text-decoration:underline;}
.linkStyle_27{font-family:  'Courier-Oblique', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: oblique;
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_27:visited{color:#000000; text-decoration:none;}
.linkStyle_27:hover{color:#000000; text-decoration:underline;}
.Style30{font-family:  'Courier-Oblique', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: oblique;
 word-wrap: break-word;}
.linkStyle_31{font-family:  'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_31:visited{color:#000000; text-decoration:none;}
.linkStyle_31:hover{color:#000000; text-decoration:underline;}
.linkStyle_34{font-family:  'Courier-Oblique', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: oblique;
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_34:visited{color:#000000; text-decoration:none;}
.linkStyle_34:hover{color:#000000; text-decoration:none;}
.para37{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.linkStyle_38{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 18px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_38:visited{color:#000000; text-decoration:none;}
.linkStyle_38:hover{color:#000000; text-decoration:none;}
.Style41{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 18px; 
 font-weight:normal; 
 text-decoration: underline;
 word-wrap: break-word;}
.Style42{font-family:  'CourierNewPS-BoldMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style43{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style44{font-family:  'CourierNewPS-ItalicMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 font-style: italic;
 word-wrap: break-word;}
.Style45{font-family:  'CourierNewPS-ItalicMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 font-style: italic;
 margin:0;
 word-wrap: break-word;}
.Style46{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_47{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FEFB00 #FF2600 */
 word-wrap: break-word;}
.linkStyle_47:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_47:hover{color:#FF2600; text-decoration:underline;}
.Style50{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 72px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style51{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 72px; 
 font-weight:normal; 
 word-wrap: break-word;}
.linkStyle_52{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_52:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_52:hover{color:#FF2600; text-decoration:underline;}
.Style55{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 text-decoration: underline;
 word-wrap: break-word;}
.linkStyle_56{font-family:  'CourierNewPS-BoldMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:700; 
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_56:visited{color:#000000; text-decoration:none;}
.linkStyle_56:hover{color:#000000; text-decoration:underline;}
.Style59{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 7px; 
 font-weight:normal; 
 word-wrap: break-word;}
.linkStyle_60{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_60:visited{color:#000000; text-decoration:none;}
.linkStyle_60:hover{color:#000000; text-decoration:underline;}
.linkStyle_63{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 font-style: italic;
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_63:visited{color:#000000; text-decoration:none;}
.linkStyle_63:hover{color:#000000; text-decoration:underline;}
.linkStyle_66{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: italic;
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_66:visited{color:#000000; text-decoration:none;}
.linkStyle_66:hover{color:#000000; text-decoration:underline;}
.linkStyle_69{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_69:visited{color:#000000; text-decoration:none;}
.linkStyle_69:hover{color:#000000; text-decoration:none;}
.Style46:visited{color:#000000; text-decoration:none;}
.Style46:hover{color:#000000; text-decoration:none;}
.linkStyle_74{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_74:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_74:hover{color:#FF2600; text-decoration:underline;}
.linkStyle_77{font-family:  'Helvetica' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 text-decoration: underline;
 color: #0432FF;
 word-wrap: break-word;}
.linkStyle_77:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_77:hover{color:#FF2600; text-decoration:underline;}
.Style80{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 14px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_81{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 14px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_81:visited{color:#000000; text-decoration:none;}
.linkStyle_81:hover{color:#000000; text-decoration:underline;}
.Style84{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 14px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style80:visited{color:#000000; text-decoration:none;}
.Style80:hover{color:#000000; text-decoration:none;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}