.para1{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 24px; 
 font-weight:normal; 
 word-wrap: break-word;}
.linkStyle_3{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 16px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_3:visited{color:#000000; text-decoration:none;}
.linkStyle_3:hover{color:#000000; text-decoration:none;}
.Style6{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 14px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style7{font-family:  'Courier' ,monospace ;
 font-size: 14px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style8{font-family:  'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style9{font-family:  'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style10{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style11{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:700; 
 text-decoration: underline;
 word-wrap: break-word;}
.linkStyle_12{font-family:  'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_12:visited{color:#000000; text-decoration:underline;}
.linkStyle_12:hover{color:#000000; text-decoration:underline;}
.linkStyle_15{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 color: #000000;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_15:visited{color:#000000; text-decoration:underline;}
.linkStyle_15:hover{color:#000000; text-decoration:underline;}
.linkStyle_18{font-family:  'Courier-Bold', 'Courier' ,monospace ;
 font-size: 14px; 
 font-weight:700; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_18:visited{color:#000000; text-decoration:none;}
.linkStyle_18:hover{color:#000000; text-decoration:none;}
.linkStyle_21{font-family:  'Courier-Oblique', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: oblique;
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_21:visited{color:#000000; text-decoration:none;}
.linkStyle_21:hover{color:#000000; text-decoration:underline;}
.Style24{font-family:  'Courier-Oblique', 'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 font-style: oblique;
 word-wrap: break-word;}
.linkStyle_25{font-family:  'Courier' ,monospace ;
 font-size: 13px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 0 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_25:visited{color:#000000; text-decoration:none;}
.linkStyle_25:hover{color:#000000; text-decoration:underline;}
.para28{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.linkStyle_29{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 18px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_29:visited{color:#000000; text-decoration:none;}
.linkStyle_29:hover{color:#000000; text-decoration:none;}
.Style32{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 18px; 
 font-weight:normal; 
 text-decoration: underline;
 word-wrap: break-word;}
.Style33{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 24px; 
 font-weight:700; 
 margin:0;
 text-decoration: underline;
 word-wrap: break-word;}
.Style34{font-family:  'CourierNewPS-ItalicMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 font-style: italic;
 word-wrap: break-word;}
.Style35{font-family:  'CourierNewPS-ItalicMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 font-style: italic;
 margin:0;
 word-wrap: break-word;}
.Style36{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 word-wrap: break-word;}
.Style37{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.linkStyle_38{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #00F900 #FEFB00 #FF2600 */
 word-wrap: break-word;}
.linkStyle_38:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_38:hover{color:#FF2600; text-decoration:underline;}
.Style41{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 72px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style42{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 72px; 
 font-weight:normal; 
 word-wrap: break-word;}
.linkStyle_43{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 color: #0432FF;
 text-decoration: underline; 
 /* 0 0 0 #CBCBCB #942092 #FF2600 */
 word-wrap: break-word;}
.linkStyle_43:visited{color:#FEFB00; text-decoration:underline;}
.linkStyle_43:hover{color:#FF2600; text-decoration:underline;}
.Style46{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 text-decoration: underline;
 word-wrap: break-word;}
.linkStyle_47{font-family:  'CourierNewPSMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:normal; 
 color: #000000;
 text-decoration: none; 
 /* 1 1 0 #00F900 #000000 #000000 */
 word-wrap: break-word;}
.linkStyle_47:visited{color:#000000; text-decoration:none;}
.linkStyle_47:hover{color:#000000; text-decoration:none;}
.Style50{font-family:  'CourierNewPS-BoldMT', 'Courier New' ,monospace ;
 font-size: 12px; 
 font-weight:700; 
 word-wrap: break-word;}
.Style37:visited{color:#FEFB00; text-decoration:none;}
.Style37:hover{color:#FF2600; text-decoration:none;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}